<h1><%= @merchant.name %>'s Discounts</h1>

<section class="discount_info">
  <%= link_to "Create a New Discount", new_merchant_discount_path(@merchant.id) %>
  <% @discounts.each do |discount| %>
    <section class="discount_info" id="discount-<%= discount.id %>">
      <%= link_to discount.id, merchant_discount_path(@merchant.id, discount.id) %>
      - <%= discount.name %> | Quantity threshold:<%= discount.threshold %> Percentage discount: <%= discount.percentage %>
      <br>
      <%= button_to "Delete Discount", merchant_discount_path(@merchant, discount), method: :delete %>
    </section>
  <% end %>
</section>

<section class="merchant_discounts" id="holidays">
  <h2>Upcoming Holidays:</h2>
  <% @holidays.each do |holiday| %>
    <li><%= holiday %></li>
  <% end %>

</section>
